/* Existing styles... */

.info-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.info-table th, .info-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.info-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.info-table td {
    background-color: #fff;
}

.report-details-container {
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.report-image {
    width: 100%;
    height: 300px;
    object-fit: contain;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}
/* 
.back-button {
    display: inline-block;
    background-color: #28a745;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #218838;
}

.back-button:active {
    background-color: #1e7e34;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
} */

.button-section {
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
    align-items: center; /* Center horizontally */
    margin-top: 20px; /* Add margin to the top */
}

.download-button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px; /* Space between buttons */
    width: 200px; /* Set a width for consistency */
}

.download-button:hover {
    background-color: #45a049;
}

.back-button {
    display: inline-block;
    background-color: #28a745;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
    width: 200px; /* Set a width for consistency */
}

.back-button:hover {
    background-color: #218838;
}

.back-button:active {
    background-color: #1e7e34;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
